@import "tailwindcss";

:root {
  --background: url("/copyparty/u/johnpaul.olimpo/allonfour/Desktop-bg.webp");
  --second-opinion-background: url("./assets/second-opinion-bg.webp");
  --text-gray: #6e6e6e;
  --highlight-blue: #1e70f5;
  --highlight-orange: #fc640c;
  --banner-background: #0c0052;
}

body {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Arial,
    sans-serif;
}

.background {
  background-image: var(--background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-bg {
  background-color: var(--banner-background);
}
.SO-bg {
  position: absolute;
  width: 100%;
  min-height: 90%;
  background-image: var(--second-opinion-background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.text-highlight-orange {
  color: var(--highlight-orange);
}
.text-gray {
  color: var(--text-gray);
}
